
@{
    Layout = null;
}

@{
    ViewBag.title = "Admin";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllRequests_users</title>
</head>
<body>
    <div>
     
        <form action="~/Home/AllRequests" method="post">
            <input type="submit" value="Show all Requests" />
        </form>
     </div>
   
</body>
</html>
