
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCsv</title>
</head>
<body>
    <p>Currently you do not have permission to use this utility</p>
    <p>This is an utility by which you can send customized messages for each recipient from a CSV/excel file.</p>
    <div> 
        <h1 style="text-align:center;"><u>CreateCsv</u></h1>
    </div>

</body>
</html>
