
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoFileRegexList</title>
</head>
<body>
    <p>Currently you do not have permission to use this utility</p>
    <p>This is an utility by which pdf file is automatically picked up from your computer.
    The receiver number is automatically read from it and that pdf is sent to that number.
    if the same pdf file contains records of multiple receivers,then that single pdfs is broken into multiple odf files
    and sent to individual receiver.All this happens automatically</p>
    <div> 
        <h1 style="text-align:center;"><u>AutoFileRegexList</u></h1>
    </div>
</body>
</html>
