
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>linked</title>
</head>
<body>
    <div> 
        <p>Currently you do not have permission to use this untility</p>
        <p>This is an utility by which a message is sent automatically to a caller,when he/she gives a miss call on number.</p>
    </div>
</body>
</html>
