
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mssdcall</title>
</head>
<body>
    <div> 
        <h1 style="text-align:center;"><u>mssdcall_List</u></h1>
    </div>
</body>
</html>
