
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Document</title>
</head>
<body>
    <p>This is an utility by which you can integrate other softwares with this system.</p>
    <p>To know details,download the documentation by clicking link below.</p>
    <a href="#">Download API Document</a>
    <div> 
        <h1 style="text-align:center;"><u>Document</u></h1>
    </div>
</body>
</html>
